<nav>

  <div class="top">
    <ng-container *ngFor="let item of navList">
      <fa-icon [routerLink]="item.name" routerLinkActive="router-link-active"  class="icon" [class.selected-item]="item.name === selectedItem" [icon]="item.value"
        (click)="selectPage(item.name)">
      </fa-icon>
    </ng-container>

  </div>

  <div class="bottom">
    <fa-icon class="icon" [class.selected-item]="'about' === selectedItem" [icon]="userIcon" routerLink="about" (click)="selectPage('about')"></fa-icon>
    <fa-icon class="icon" [icon]="settingsIcon"></fa-icon>
  </div>

</nav>
