:host {

  nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #011628;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border-bottom: 1px solid #262A39;

    color: #EFFFF1;
    font-size: 13px;

    .left {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: 0.5rem;
      height: 2rem;
    }

    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: 0.5rem;
      gap: 1rem;

    }

  }

}
