:host {
  nav {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    background-color: aqua;

    transition: 0.6s;

    img {
      height: 3rem;
      margin-top: 0.5rem;
      cursor: pointer;
    }

    .pages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      gap: 1rem;

    }

    .socials{
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      margin-bottom: 1rem;

      // position: absolute;
      // bottom: 0;
    }

  }

  .nav-extended{
    background-color: greenyellow;
    width: calc(15%);
    transition: 0.6s;
  }
}
