<nav [class.nav-extended]="navExtended">

  <img (click)="toggleNav()" src="/assets/images/page_logo.png" alt="AM">

  <div class="pages">
    <ng-container *ngFor="let page of pages">

      <span>
        <fa-icon [icon]="page.value"></fa-icon>
        <ng-container *ngIf="navExtended">
          {{page.label}}
        </ng-container>
      </span>

    </ng-container>
  </div>

  <div class="socials">
    <fa-icon [icon]="gitHub"></fa-icon>
    <fa-icon [icon]="gitHub"></fa-icon>
  </div>

</nav>
